@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;600&display=swap");
@import "tailwindcss";

@layer base {

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
      "Apple Color Emoji", "Segoe UI Emoji";
  }

  code,
  pre,
  kbd,
  samp {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
  }
}

.light {
  --text-color: #000000;
  --bg-color: #ffffff;
  --primary-color: #C81D2A;
  --secondary-color: #F36A1D;
}

.dark {
  --text-color: #ffffff;
  --bg-color: #121212;
  --primary-color: #C81D2A;
  --secondary-color: #F36A1D;
}